[includeIf "gitdir:~/repository/kawanlama/"]
  path = ~/repository/kawanlama/.gitconfig
[includeIf "gitdir:~/repository/personal/"]
  path = ~/repository/.gitconfig
[includeIf "gitdir:~/repository/oss/"]
  path = ~/repository/.gitconfig
[includeIf "gitdir:~/repository/teknologi-umum/"]
  path = ~/repository/.gitconfig
[includeIf "gitdir:~/repository/databases/"]
  path = ~/repository/.gitconfig
[includeIf "gitdir:~/repository/arcet/"]
  path = ~/repository/.gitconfig
[includeIf "gitdir:~/repository/tridots-lms/"]
  path = ~/repository/.gitconfig
[includeIf "gitdir:~/repository/reinaldyrfl/"]
  path = ~/repository/.gitconfig
[includeIf "gitdir:~/.dotfiles/"]
  path = ~/repository/.gitconfig

