[user]
	name = Reinaldy Rafli
	email = aldy505@tutanota.com
	signingkey = 9B7076E05C2C9691
[core]
	editor = code
[color]
	status = auto
	branch = auto
	interactive = auto
[gpg]
	program = gpg
[init]
	defaultBranch = master
[commit]
	gpgsign = false
